//Colors
$white: #fff;
$black: #000;
$grey: #b4b4b4;

//Transition
$transition: all .5s cubic-bezier(1, 0, 0, 1);

//Pading
$padding-large: 10rem 0rem;

//Media queries
$small-device: 576px;
$medium-device: 768px;
$large-device: 992px;
$extra-large-device: 1200px;