.cta {
    display: inline-block;
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    padding: 1.5rem 0rem;

    &::after {
        content: '';
        position: absolute;
        left: 0%;
        bottom: 0%;
        height: .2rem;
        width: 100%;
        background-color: $black;
        transition: $transition;
    }

    &:hover::after {
        transform: translateX(-100%);
    }

    &--intro {
        animation: btnIntro 2s ease;
    }
}