* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $white;
    color: $black;
}

a {
    display: inline-block;
    text-decoration: none;
}

.wrapper {
    display: flex;
    margin: 0px auto;
    width: 1320px;
    max-width: 1650px;

    @media only screen and(max-width: $small-device) {
        width: 90%;
    }
}

.fade-in {
    animation: fadeIn .7s ease;
}