.contact--intro {
    background-color: $black;
    color: $white;
    padding-top: 10rem;
    
    & .wrapper {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        padding: $padding-large;
    }
}