.projects {

    &__hero {
        height: 90%;
        width: 100%;

        @media only screen and(max-width: $small-device) {
            padding: 10rem 0rem;
        }

        & .wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;

            @media only screen and(max-width: $small-device) {
                align-items: flex-start;
                flex-direction: column;
            }
        }

        & .buttons__container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .cta {
                &:not(:last-child) {
                    margin-right: 5rem;
                }
            }
        }
    }

    &__highlights {
        padding-bottom: 10rem;
        overflow: hidden;

        & .wrapper {
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }
    }

}

.project {
    opacity: 0;
    transform: translateX(-7.5rem);
    transition: all .3s ease;

    &--visible {
        opacity: 1;
        transform: translateX(0rem);
    }
}